*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color:#AE9768;
}
#navLinks li{
   float: left;
   margin-right: 35px;
   margin-top: 25px;
}


a{
   text-decoration: none;
   color: white;
    font-size:18px; 
    font-weight: 400; 
    line-height: 32px;
    font-family: "Alegreya", serif;
    transition: all ease 0.5s;
}

a:hover{
   
   color:var(--main-color);

}

a .active:hover{
   
   color:white;

}

.clr-fix{
   clear: both;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%; /* Add this line */
}

nav{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: auto;
   padding: 20px;
   position: sticky;
   top:0px;
}

nav figure img{
   height: 55px; 
}
ul{
   list-style: none;
   color: white;
}

#hero{
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../assets/Bakery-hero.jpg);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;  
}

#heading{
   text-align: center;
   color:white;  
}

#heading span{
    font-size:22px; 
    font-weight: 400; 
    line-height: 41px;
    font-family: "Alegreya Sans", serif;
 }

 #heading h1{
    font-size:76px; 
    font-weight: 400; 
    line-height: 91px;
    font-family: "Alegreya", serif;
 }

 #heading p{
    font-size:24px; 
    font-weight: 400; 
    line-height: 45px;
    font-family: "Alegreya Sans", serif;
 }

 #icons{
    background-color:white;
    width: 45px;
    height: 100px;
    border-radius:5px 0 0 5px;
    position: fixed;
    right: 0;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
 }

 #icons i:hover{
   color: #09c;
 }

 i{
    font-size: 25px;
    color: gray;
    transition: all ease 0.5s;
 }

 button{
    padding: 20px 35px;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    transition:all 1s ease;
 }

 #btn1{
    background-color: var(--main-color);
    border-radius: 5px;
 }

 #btn2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
 }

 #btn1:hover, #btn2:hover{
    background-color:white;
   
    color: black;
 }


 .active::before{
   content: "";
   position: absolute;
   top:0px;
   background-color: var(--main-color);
   width: 100px;
   height: 4px;
   transform: translate(-35%);
 }
